html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #F0F0E0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #FFFFF0;
}

header nav {
  flex: 0 0;
}

main {
  flex: 1 1;
  min-height: 0;
  display: flex;
}

section {
  flex: 1;
  border: solid black;
  border-width: 2px 1px 2px 2px;
  overflow: scroll;
}

aside {
  flex: 0 0 160px;
  border: solid black;
  border-width: 2px 2px 2px 1px;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #101000;
  text-shadow: 3px 3px 1px #D0D0C0;
}

section.json_export {
  overflow: hidden;
}

.json_export {
  display: none;
}

.json_export.visible {
  display: unset;
}

.json_export textarea {
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  box-sizing: border-box;
}

.diagram .drag_handle {
  cursor: move;
}

.diagram .close_button {
  cursor: pointer;
}

.node_overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.synth text {
  fill:#000000;
}

.synth .close_button {
  text-anchor: middle;
  font-size: 14px;
}

.connection .close_button {
  display: none;
}

.connection:hover .close_button {
  display: unset;
}

.synth input {
  width: 100%;
  box-sizing: border-box;
}

.synth, .synth input {
  font-size: 8px;
  font-family: 'Lato', sans-serif;
}

.connection path {
  stroke-width: 1;
  stroke: black;
  fill: none;
}

.live_connection:hover path {
  stroke-width: 3;
}